<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <!--Sidebar content-->
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>

    <div class="col-md-4 text-right">
      <span class="pull=left ng-scope">
          <a href="#/phones" class="btn btn-primary">HOME</a>

      </span>
    </div>

  </div>
  <div class="row">
  </br>
    </br>
    <div class="col-md-12">
      
     <div class="panel panel-primary">
          <div class="panel-heading">Phone List</div>
            <div class="panel-body">
              <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Snippet</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="ng-scope" >
                      <td class="ng-binding"><img ng-src="{{phone.imageUrl}}" class="thumb"></td>
                      <td class="ng-binding">{{phone.id}}</td>
                      <td class="ng-binding">{{phone.name}}</td>
                      <td class="ng-binding">{{phone.snippet}}</td>
                      <td class="ng-binding text-right">

                        <span class="pull=left ng-scope">
                          
                            <a href="#/updatePhone/{{phone.id}}" class="btn btn-info" data-toggle="modal" data-target=".""">Update</a></br></br>

                        </span>
                      </td>

                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>   

    </div>
  </div>
</div>
